{{!< default}}

{{#post}}
<header role="banner" class="post">
	<h1>{{{title}}}</h1>
</header>
<div class="meta">
	{{#author}}
	<address class="author">
		<a href="{{url}}"><img src="{{image}}" alt="{{name}}'s Picture"></a>
		<span>By <a rel="author" href="{{url}}">{{name}}</a></span>
	</address>
	{{/author}}
	<p><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></p>
	{{#if tags}}
	<ul class="tags">
		{{#foreach tags}}
			<li><a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a></li>
		{{/foreach}}
	</ul>
	{{/if}}
	<p><a href="https://twitter.com/share?url={{@blog.url}}{{url}}&text={{title}}" target="_blank" role="button">Tweet</a></p>
</div>
<main role="main">
	<section>
		<div>
			<article>
				<div>
					{{content}}
				</div>
			</article>
		</div>
	</section>
</main>
{{/post}}
